<div class="col-xs-10">
  <div id="map-canvas">
  </div>
</div>
<div class="col-xs-2">
  <div class="panel panel-default" hidden="true" id="data_panel">
    <div class="panel-heading">
      <h3 class="panel-title" id="#zip_name"></h3>
    </div>
    <div class="panel-body" id="#zip_data">
    </div>
  </div>
</div>
