---
http_interactions:
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=10010&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 80:quic,p=0.08
    body:
      encoding: UTF-8
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "10010",
                       "short_name" : "10010",
                       "types" : [ "postal_code" ]
                    },
                    {
                       "long_name" : "Manhattan",
                       "short_name" : "Manhattan",
                       "types" : [ "sublocality_level_1", "sublocality", "political" ]
                    },
                    {
                       "long_name" : "New York",
                       "short_name" : "NY",
                       "types" : [ "locality", "political" ]
                    },
                    {
                       "long_name" : "New York County",
                       "short_name" : "New York County",
                       "types" : [ "administrative_area_level_2", "political" ]
                    },
                    {
                       "long_name" : "New York",
                       "short_name" : "NY",
                       "types" : [ "administrative_area_level_1", "political" ]
                    },
                    {
                       "long_name" : "United States",
                       "short_name" : "US",
                       "types" : [ "country", "political" ]
                    }
                 ],
                 "formatted_address" : "New York, NY 10010, USA",
                 "geometry" : {
                    "bounds" : {
                       "northeast" : {
                          "lat" : 40.745421,
                          "lng" : -73.97203739999999
                       },
                       "southwest" : {
                          "lat" : 40.73231,
                          "lng" : -73.994028
                       }
                    },
                    "location" : {
                       "lat" : 40.7388319,
                       "lng" : -73.98153370000001
                    },
                    "location_type" : "APPROXIMATE",
                    "viewport" : {
                       "northeast" : {
                          "lat" : 40.745421,
                          "lng" : -73.97203739999999
                       },
                       "southwest" : {
                          "lat" : 40.73231,
                          "lng" : -73.994028
                       }
                    }
                 },
                 "place_id" : "ChIJERczDApZwokRMEmaW3HTdqs",
                 "types" : [ "postal_code" ]
              }
           ],
           "status" : "OK"
        }
  recorded_at: Mon, 23 Feb 2015 01:30:04 GMT
recorded_with: VCR 2.9.3
