// Place all the styles related to the zip_codes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#map-canvas {
  width:auto;
  height:620px;
  border-style:solid;
  border-width:6px;
  border-color:gray;
  border-radius:20px;
}
